/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.bg-login {
  height: 100vh;
  /* background-color: #ef0e43; */
  background-image: url(./assets/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hov:hover {
  border-radius: 5%;
  background-color: #edf1fd1d;
}

.hov-e:hover {
  border-radius: 5%;
  background-color: #00000034;
}
